@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.footer{
    /* margin-top: 1rem; */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #D9D9D9;
    position: relative;
    margin-top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .img img{
    width: 150px;
  }

  .details{
    margin-bottom: -20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .details a{
    color: rgb(30, 28, 28);
  }

  .icons  {
    display: flex;
    text-decoration: none;
    margin-bottom: 0;
    color: rgb(30, 28, 28);
    margin-right: 10%;
    
  }
  .icons a{
    color: rgb(44, 42, 42);
    margin-left:30% ;

  }

  .icon1{
    width: 50px;
  }

  
  @media screen and (max-width: 600px){
    .footer{
        justify-content: space-around;
        padding: 2%;
        margin-top: 40%;

    }

    .details{
      margin-left: 5%;
    }
    .icons{
      margin-left: -9%;
    }
  }

  @media only screen and (min-width: 660px ){
    .footer{
      justify-content: space-around;
      padding: 1%;
      margin-top: 15%;

  }

  }
  @media only screen and (min-width: 1300px){
    .footer{
      justify-content: space-around;
      padding: 1%;
      margin-top: 5%;

  }
  }